<section class="container-fluid">

  <nav>
    <ul class="nav bg-dark">
      <li class="nav-item" routerLinkActive="bg-success">
        <a routerLink="/accueil" class="nav-link text-light">Accueil</a>
      </li>
      <li class="nav-item" routerLinkActive="bg-success" class="nav-item">
        <a routerLink="/nos-produits" class="nav-link text-light">Catalogue</a>
      </li>
      <li class="nav-item" routerLinkActive="bg-success" class="nav-item">
        <a routerLink="/contact" class="nav-link text-light">Contact</a>
      </li>
      <li class="nav-item" routerLinkActive="bg-success" class="nav-item">
        <a routerLink="/a-propos" class="nav-link text-light">A Propos</a>
      </li>
      <li class="nav-item" routerLinkActive="bg-danger" class="nav-item">
        <a routerLink="/mon-compte" class="nav-link text-light">Mon compte</a>
      </li>
    </ul>
  </nav>

  <aside>
    <app-loader></app-loader>
  </aside>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <hr />
    &copy;{{ currentYear }}
    | <a href="http://www.olivierastre.fr">olivierastre.fr</a>
  </footer>

</section>
